body {
    margin: 0%;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

.child {
    scroll-snap-align: start;
}

div#clear-div{
    clear: both;
}