:root {
    --image-size: 100px;
}

section {
    border: 1px solid none;
    width: 248px;
    height: 364px;
    color: #ffffff;
}

div.section-container {
    place-items: center;
    min-height: 100vh;
    display: grid;
}

div.align-container {
    display: inline-flex;
}

div#circle {
    width: var(--image-size);
    height: var(--image-size);
    overflow: hidden;
    display: inline-flex;
    border-radius: 70%;
    margin-top: 40px;
}

section#sefirot-section {
    margin-right: 81px;
    text-align: center;
    background: linear-gradient(158deg, #FF4228 3.12%, #FFB800 98.08%);
    background: linear-gradient(155.41deg, #44FF6D 5.73%, #0068FF 95.94%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    transition: transform 0.2s;
}
img#sefi-profileImg {
    width: var(--image-size);
    height: var(--image-size);
    object-fit: cover;
}
section#sefirot-section:hover {
    transform: scale(1.1);
}

section#pia-section {
    text-align: center;
    background: linear-gradient(158deg, #FF2D10 3.12%, #FF9900 98.08%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    transition: transform 0.2s;
}
img#pia-profileImg {
    width: var(--image-size);
    height: var(--image-size);
    object-fit: cover;
}
section#pia-section:hover {
    transform: scale(1.1);
}

p {
    margin: 0%;
    font-family: 'Noto Sans KR', sans-serif;
}

p#botName {
    font-size: 30px;
    font-weight: 700;
}

p#botDescription {
    font-size: 14px;
    padding: 20px;
    font-weight: 500;
    margin-top: 40px;
}

p#botInviteLink {
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    margin-top: 40px;
}